@font-face {
  font-family: "main";
  src: url(./fonts/All.ttf);
}

* {
  padding: 0%;
  margin: 0%;
  font-family: "main";
}

:root {
  --primary: rgb(29, 11, 3);
  --secondary: rgb(255, 126, 34);
  --tertiary: rgb(10, 2, 0);
}

.Background {
  width: 100vw;
  height: 100vh;
  background-color: var(--primary);
  overflow: hidden;
}

.ConfigButton:hover {
  cursor: pointer;
  color: var(--secondary);
  background-color: var(--primary);
}